
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<header>
    <h1>Insurance Web Portal</h1>
    <hr />
    <nav>
        | Home | Claim | Customer | Policy | PremiumCalculation | Users
    </nav>
</header>