
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<header>
    <h1>
        <img src="Images/pic2.jpg" height="100" width="100" style="border-radius:40px">
         Insurance Policy Mangement
    </h1>
    <hr style="border:2px solid green" />
    <nav>
        | Home | About Us | Contact |
    </nav>
</header>